
@{
    ViewBag.Title = "resetpassword2";
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Session["Check2"] == "1")
    {

        <script type="text/javascript">
                            alert("ยืนยันรหัสผ่านล้มเหลว โปรดตรวจสอบใหม่อีกครั้ง");
        </script>
    }
    <br /><br /><br /><br /><br /><br />
    @using (Html.BeginForm("resetpassword2", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <center>
            <div class="container btn btn-light" style="width:550px;height:280px" align="center">
                <br />

                <br />
                <div class="row">
                    <div class="col">
                        <label for="staticEmail">รหัสผ่านใหม่</label>
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" style="width:350px;">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <label for="staticEmail">ยืนยันรหัสผ่าน</label>
                    </div>
                    <div class="col">
                        <input type="password" class="form-control" id="RePassword" name="RePassword" placeholder="Re-Password" style="width:350px;">
                    </div>
                </div>
                <br />
                <div cla
            <div class="row btn btn" align="center">
                <form class="form-inline my-5 my-lg-0">
                    <button class="btn btn-dark my-5 my-sm-0" type="submit" style="width:120px;height:38px">
                        ยืนยัน
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-dark my-5 my-sm-0" type="submit" style="width:120px;height:38px">
                        ยกเลิก
                    </button>
                </form>
            </div>
        </div>
        </center>
    }
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
